.cart-text {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 15px 15px;
    text-align: center;

}

.cart {
    position: sticky;
    top: 0;
    background-color: #004445;
    margin-right: 0%;
    padding: 0px 5px;
}

.break-time {
    margin-left: 15px;
    font-weight: bold;
    color: white;
    text-align: center;

}

.btn-row {
    display: flex;
    margin: 5px 15px;
    border-radius: 0%;
    background-color: #004445
}

.btn-cart {
    margin-left: 10px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    color: white;
    cursor: pointer;
    text-align: center;

}

.btn-cart:hover {
    color: beige;
    font-weight: bold;
}

.activity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-btn {
    margin-top: 60px;
    background-color: #6FB98F;
    color:
        white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.activity-btn:hover {
    color: #004445;
}